<div class="span7 offset3"> 

<div class="boxy text-center">

<h2>New Picture</h2>

<%= simple_form_for @pic do |f| %>

<%= f.input :hour %>

<%= f.input :emotion %>

<%= f.input :learned %>

<%= submit_tag "Create", :class => 'btn btn-primary' %>

<% end -%>
</div>
</div>